<section class="container-fluid min-height-100vh">
  <div class="row min-height-100vh w-100">
    <div class="col-6 session-background d-flex">
      <h1 class="display-5 fw-bold text-white align-self-center p-5">Second<br>Hand.</h1>
    </div>

    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
      <div class="container p-5">
        <h2 class="fw-bold mb-5">Daftar</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 'data-turbo': false) do |f| %>
          <div class="field mb-4">
            <%= f.label :name, class: "form-label" %><br />
            <%= f.text_field :name, required: true, class: "form-control rounded-4 p-3", placeholder: "Nama Lengkap" %>
            <% if field_error?(resource, :name) %>
              <div class="form-text text-danger">
                <%= field_error(resource, :name).full_message %>
              </div>
            <% end %>
          </div>

          <div class="field mb-4">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control rounded-4 p-3", placeholder: "Contoh: johndee@gmail.com" %>
            <% if field_error?(resource, :email) %>
              <div class="form-text text-danger">
                <%= field_error(resource, :email).full_message %>
              </div>
            <% end %>
          </div>

          <div class="field mb-4">
            <%= f.label :password, class: "form-label" %><br />
            <%= f.password_field :password, required: true, autocomplete: "current-password", class: "form-control rounded-4 p-3", placeholder: "Masukkan password" %>
            <% if field_error?(resource, :password) %>
              <div class="form-text text-danger">
                <%= field_error(resource, :password).full_message %>
              </div>
            <% end %>
          </div>

          <div class="actions">
            <%= f.submit "Daftar", class: "btn btn-primary w-100 rounded-4 p-3 fw-bold" %>
          </div>
        <% end %>


        <div class="d-flex justify-content-center mt-5">
          <p class="m-0 me-2">Sudah punya akun?</p>
          <%= link_to "Masuk di sini", new_user_session_path, class: "fw-bold" %>
        </div>
      </div>
    </div>
  </div>
</section>
