<section class="row mt-5">
  <div class="col-11">
    <%= form_with(model: product, html: { multipart: true }) do |form| %>
      <div class="mb-4">
        <%= form.label :name, "Nama Produk", style: "display: block", class: "form-label" %>
        <%= form.text_field :name, class: "form-control rounded-4 p-3", placeholder: "Nama Produk", required: true %>
        <% if product.errors.any? { |error| error.attribute.eql?(:name) } %>
          <div class="form-text text-danger">
            <%= product.errors.detect { |error| error.attribute.eql?(:name) }.full_message %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :price, "Harga Produk", style: "display: block", class: "form-label" %>
        <%= form.number_field :price, class: "form-control rounded-4 p-3", placeholder: "Rp 0,00", required: true %>
        <% if product.errors.any? { |error| error.attribute.eql?(:price) } %>
          <div class="form-text text-danger">
            <%= product.errors.detect { |error| error.attribute.eql?(:price) }.full_message %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :category_id, "Kategori", style: "display: block", class: "form-label" %>
        <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: "Pilih Kategori" }, class: "form-select rounded-4 p-3", required: true %>
        <% if product.errors.any? { |error| error.attribute.eql?(:category) } %>
          <div class="form-text text-danger">
            <%= product.errors.detect { |error| error.attribute.eql?(:category) }.full_message %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :description, "Deskripsi", style: "display: block", class: "form-label" %>
        <%= form.text_area :description, class: "form-control rounded-4 p-3", placeholder: "Contoh: Jalan Ikan Hiu 33", required: true %>
        <% if product.errors.any? { |error| error.attribute.eql?(:description) } %>
          <div class="form-text text-danger">
            <%= product.errors.detect { |error| error.attribute.eql?(:description) }.full_message %>
          </div>
        <% end %>
      </div>

      <div class="mb-4 input-images gap-4" id="input-images">
        <% if form.object.persisted? %>
          <% form.object.images.each do |image| %>
            <div class="form-image-preview position-relative rounded-4 overflow-hidden">
              <%= image_tag image.representation(resize_to_limit: [480, 480]), class: "img-preview" %>
              <button type="button" onclick="this.parentElement.remove()" class="btn-close btn-close-white position-absolute top-0 start-100 translate-middle" aria-label="close" style="transform: translate(-150%, 50%) !important"></button>
              <%= form.hidden_field :persisted_images, multiple: true, value: image.signed_id %>
            </div>
          <% end %>
        <% end %>

        <%= render "components/input/image", form: form, name: :images %>
      </div>

      <div class="mb-4 d-flex gap-5">
        <%= form.radio_button :status, "draft", class: "btn-check", autocomplete: "off", onchange: "this.form.submit()", checked: false %>
        <%= form.label :status_draft, "Preview", class: "btn btn-outline-primary w-50 rounded-4 p-3" %>

        <%= form.radio_button :status, "published", class: "btn-check", autocomplete: "off", onchange: "this.form.submit()", checked: false %>
        <%= form.label :status_published, "Terbitkan", class: "btn btn-primary w-50 rounded-4 p-3" %>
      </div>
    <% end %>
  </div>
</section>

<!-- TODO: Use rails javascript integration -->
<script>
  function clickFileInput(element) {
    const input = element.nextElementSibling.nextElementSibling
    input.previousFiles = input.files;
    input.addEventListener('change', onImageInputElementChanged)

    input.click();
  }

  function onImageInputElementChanged(e) {
    if (e.target.files.length === 0) return;

    const dt = new DataTransfer();

    for (const file of e.target.previousFiles) {
      dt.items.add(file);
    }

    for (const file of e.target.files) {
      let div = document.createElement('div');
      div.classList.add('form-image-preview', 'position-relative', 'rounded-4', 'overflow-hidden');

      let img = document.createElement('img');
      img.classList.add("img-preview");
      img.src = URL.createObjectURL(file);

      let button = document.createElement('button');
      button.type = 'button';
      button.ariaLabel = 'close';
      button.style = "transform: translate(-150%, 50%) !important";
      button.dataset.inputId = e.target.id;
      button.file = file;
      button.classList.add('btn-close', 'btn-close-white', 'position-absolute', 'top-0', 'start-100', 'translate-middle');
      button.addEventListener('click', onImageInputRemoveButtonClicked)

      div.append(img);
      div.append(button);

      dt.items.add(file);
      e.target.previousElementSibling.previousElementSibling.before(div);
    }

    e.target.previousFiles = null;
    e.target.files = dt.files;
  }

  function onImageInputRemoveButtonClicked(e) {
    const input = document.getElementById(e.target.dataset.inputId);
    const dt = new DataTransfer()

    for (let file of input.files) {
      if (file.name !== e.target.file.name) {
        dt.items.add(file)
      }
    }

    input.files = dt.files;

    e.target.parentElement.remove();
  }
</script>
